* {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: block;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 99%;
    height: 50px;
    background-color: #2e96e6;
    text-align: center;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;

}
button {
    background-color: #d9b422;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:20%;
    border-radius: 3px;
}
.output {
    display: block;
    left: 50%;
    background-color: #2e96e6;
    text-align: center;
    color: white;
    width: 99%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
.help {
    background-color: #d9b422;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:20%;
    border-radius: 3px;
}