* {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: block;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 99%;
    height: 50px;
    background-color: #2e96e6;
    text-align: center;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    padding: 5px;
}
button {
    background-color: #d9b422;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:20%;
    border-radius: 3px;
}
.output {
    font-family: monospace;
    display: block;
    left: 50%;
    background-color: #47494a;
    text-align: center;
    color: white;
    width: 50%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

.help {
    background-color: #d9b422;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:20%;
    border-radius: 3px;
}
.editor {
    display: block;
    resize: none;
    font-family: monospace;
    color: rgb(72, 157, 72);
    background-color: #47494a;
    border-radius: 3px;
    width: 50%;
    left: 50%;
    font-size: 22px;
    outline-style: none;
    height: 400px;
}
.canvas {
    outline-width: 6px;
    outline-color: gray;
    position: absolute;
    left: 51%;
    top: 48%;
    width: 47%;
    height: 405px;
    background-color: #ffffff;
}
.editor {
    display: block;
    resize: none;
    font-family: monospace;
    color: rgb(72, 157, 72);
    background-color: #47494a;
    border-radius: 3px;
    width: 50%;
    left: 50%;
    font-size: 22px;
    outline-style: none;
    height: 400px;
    top: 48%;
}
.spr {
    display: block;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #9d9d9d;
    border-radius: 3px;
    width: 50%;
    left: 50%;
    font-size: 22px;
    outline-style: double;
    height: 400px;
    padding-left: 2px;
}

.tab {
    background-color: #989898;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width:20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hbutton {
    background-color: #1e79ba;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:20%;
    border-radius: 3px;
}

.titleh {
    background-color: #2e96e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    height: 100px;
}
.man {
    position: absolute;
    left:22%;
    top: 16%;
}